.bg-blue {
  color: #fff;
  background-color: #1A237E
}

.navbar-brand{
  color: white;
}

.nav-link{
  color: white;
}

.avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}